body{
  background-color:aliceblue;
  border-style: solid;
  border-color: darkgrey;
  border-radius: 8px;
}
div.welcome {
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: "Lexend";
}

div.about {
    font-family: "Lexend";
    color: black;
    font-size: 20px;
    text-align: center;
}

.contact_title {
    font-family: 'Lexend';
    font-size: 18px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  font-family: "Lexend";
  text-align: center;
  padding: 18px 18px;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
}

div.news {
    font-family: "Lexend";
    color: black;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
div.products{
  font-family: "Lexend";
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
div.Gmail{
  border-style:groove;
  border-bottom: 50px;
  border-right: 50px;
  border-left: 50px;
  border-top:50px;
}